body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-top: 20px;
  }

  #signup-container {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 60%;
    /* max-width: 300px; */
  }
  
  label{
    text-align: left;
  }

  #myForm {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  button {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: #29cfcf;
  }
  .conta{
      width: 40%;
      background-color: black;
      text-align: center;
      color: #29cfcf;
      font-size: 25px;
      border-radius: 30px;
    margin-left: 25px

  }
  .cone{
    width: 40%;
    /* background-color: black; */
    /* text-align: left; */
    color: black;
    margin-left: 25px
    /* border-radius: 30px; */
}
  
  .con{
      width: 100%;
      background-color: transparent;
      text-align: left;
      border-radius: 30px;
  }
  .bon{
      padding-left: 10px;
      padding-right: 5px;
  }
  footer {
/* position: fixed; */
bottom: 0;
width: 90%;
background-color: white;
color: black;
text-align: center;
padding: 10px;

}
@media screen and (max-width:485px) {
body {
    font-family: Arial, sans-serif;
   margin-top: 20px;
   margin-right: 20px;
   margin-left: 10px;
    padding: 0;
    background-color: black;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 80%;
  }

  #signup-container {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    padding-right: 10px;
  }
  
  label{
    text-align: left;
  }

  #myForm {
    padding: 20px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  input {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  button {
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  .conta{
      width: 100%;
      background-color: black;
      text-align: left;
      color: white;
      border-radius: 30px;
  }
  .cone{
    width: 100%;
    /* background-color: black; */
    text-align: left;
    color: black;
    border-radius: 30px;
}
  .bo{
      padding-left: 5px;
      padding-right: 5px;
  }
  .con{
      width: 100%;
      background-color: transparent;
      text-align: left;
      border-radius: 30px;
  }
  .bon{
      padding-left: 10px;
      padding-right: 5px;
  }
  footer {
/* position: fixed; */
bottom: 0;
width: 100%;
background-color: white;
color: black;
text-align: center;
padding: 10px;

}
}